body {
	font-family: Montserrat, sans-serif;
	background-color: #E5E5E5;
}
.Main-container {
	max-width: 1200px;
	margin: 40px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row-reverse;
	box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
}
.Main-contant-section{
	padding: 100px 90px;
}
.About-me-profession {
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	margin: 0 0 20px 0;
}
.About-me-name {
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
color: #000000;
margin: 0 0 25px 0;
}
.About-me-description {
	max-width: 400px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
    color: #595959;
}
.About-me-section {
   margin-bottom: 40px;
}
.My-projects-section {
	margin-bottom: 50px;
}
.Main-contant-h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.My-projects-list {
	padding: 0 0 0 17px;
}
.My-projects-item {
	color: black;
	font-weight: 700;
}
.My-projects-link,
.My-projects-text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.My-projects-text {
	margin-left: 5px;
}
.My-projects-brecet {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.My-Work-Experience-compani {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #FB6D3A;
}
h4 h3 p {
	margin-bottom: 10px;
}
.My-Work-Experience-period {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
    line-height: 15px;
	color: #A8A8A8;
}
.My-Work-{
	color: black;
}
.My-Work-Experience-list {
	padding-left: 17px;
}
.My-Work-Experience-list li {
	max-width: 509px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.Education {
margin-top: 40px;	
}
/* Saidbar-section */
.Saidbar-section {
	width: 387px;
	background: #1E2939;
	padding: 40px 0;

}
.img {
	width: 387px;
	height: 354px;
	background: url("67e.jpg")no-repeat center/cover;
}
.Contacts-section,
.Tech-Skills-section,
.Soft-Skills {
 margin: 54px 0 0 40px;
}
.Tech-Skills-ul,
.Soft-Skills-ul {
	padding-left: 17px;
} 
.Tech-Skills-li {
	color: #FB6D3A;
}
.Tech-Skills-text {
	color: white;
	opacity: 80%;
}
.Saidbar {
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	margin-bottom: 10px;
}
.Contacts-section-type {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	margin-right: 7px;
}
.Contacts-section-link {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: white;
opacity: 50%;
}